{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}

{% block content %}
<div class="docs-layout">
  <aside class="sidebar">
    <nav>
      <ul>
        {% for p in section.pages %}
        <li>
          <a href="{{ p.permalink }}">
            {{ p.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </aside>
  <article class="docs-content">
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
  </article>
</div>
{% endblock content %}
